		div div{
				float:left; 
				border:3px solid black; 
				width:100px; 
				height:90px;
				background-color:white; 
				color:black; 
				font-size:50pt;
				font-family:Helvetica;
				text-align:center;
				padding-top: 10px;
				
			}

		div div:hover{
		background-color:lightblue;

		}
			.row {
				clear:both;

			}

			
/*style the mondrian box by making the angular boxes invisible*/

/*[[0,0], [0,1], [0,2], [1,0], [1,1], [1,2], [2,0], [2,1], [2,2], 0]];*/
